{% extends 'main/base.html' %}
{% load static %}
{% block title %}
New post
{% endblock %}

{% block content %} 


  <!-- bradcam_area_start -->
  <div class="bradcam_area" style="background-image: url({% static 'main/img/banner/bradcam.png' %})">
      <h3>Registration</h3>
  </div>
  <!-- bradcam_area_end -->

    <br>
   <form method="post">
       {% csrf_token %}

       {{ form.name }}<br>
       {{ form.surname }}<br>
       {{ form.age }}<br>
       {{ form.dateReg }}<br>
       {{ form.country }}<br>
       {{ form.city }}<br>
       {{ form.email }}<br>
       <br>

       <h1><span>{{ error }}</span></h1>
       <button class="btn btn-success" type="submit">Добавить</button>

    </form>
{% endblock %}